/* Big Bang CSS */

body {
    font-family: 'Verdana', sans-serif;
    background-color: #e6e6fa; /* Lavender background */
    color: #222;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #4b0082;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

ol {
    background-color: #f0e6ff;
    padding: 15px 15px 15px 40px;
    border-left: 5px solid #4b0082;
    list-style-position: outside;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #4b0082;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4b0082;
    color: white;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.back-button:hover {
    background-color: #555;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.scroll-top:hover {
    background-color: #666;
}
